
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // PUBLIC, READ-ONLY COLLECTIONS
    // Allow anyone to read (get and list) these collections.
    match /{collection}/{document=**} 
      where collection in ['teams', 'previousSeasonStandings', 'matches', 'standings', 'weeklyTeamStandings', 'teamRecentResults', 'seasonMonths', 'monthlyMimoM'] {
      allow read: if true;
      allow write: if false;
    }

    // AUTHENTICATED-READ COLLECTIONS
    // Any authenticated user can read from these collections.
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if false; 
    }
    match /playerTeamScores/{scoreId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /predictions/{userId} {
      allow read: if request.auth != null;
      // A user can only WRITE to their own prediction document.
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // USER-SPECIFIC READS
    // A user can only READ their OWN history document.
    match /userHistories/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
  }
}
